/* line 12, ../src/sass/forms.scss */
.form-entry {
  padding: 0.35em 0 0.35em 10em;
}
/* line 17, ../src/sass/forms.scss */
.form-entry input {
  border: 1px solid #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 1.75em;
  line-height: 1.5em;
  margin: 0;
  padding: 0 0.25em;
}
/* line 20, ../src/sass/forms.scss */
.form-entry input[type="checkbox"] {
  margin: 0 0 0.75em;
}
/* line 23, ../src/sass/forms.scss */
.form-entry input[type="checkbox"] + label {
  display: inline-block;
  left: 0;
  position: relative;
  top: -.25em;
}
/* line 32, ../src/sass/forms.scss */
.form-entry .field-label {
  float: left;
  left: 0;
  margin-left: -10em;
  position: relative;
  text-align: right;
  top: .25em;
  width: 9.65em;
}
/* line 41, ../src/sass/forms.scss */
.form-entry .field-label:after {
  content: ":";
}
/* line 46, ../src/sass/forms.scss */
.form-entry select {
  border: 1px solid #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 2.25em;
  line-height: 1.5em;
  margin: 0;
  padding: 0 0.25em;
}
/* line 49, ../src/sass/forms.scss */
.form-entry select + select {
  margin-top: 1em;
}
