

body {
    background: #242226;
    color: #FFFFFF;
    font-size: .8em;
    margin: 0 auto;
    text-align: left;
    width: 960px;
    }

html {
    text-align: center;
    }

label {
    float: left;
    margin-right: 10px;
    padding-top: 2px;
    text-align: right;
    width: 120px;
    }
    label.labels {
        float: none;
        margin: 0px;
        padding: 3px 0px 0px 10px;
        width: auto;
        }

div.column {
    float: left;
    }
div.row {
    padding: .5em 0px;
    }



div#builder {
    background: #610015;
    margin: 0px 0px 1em;
    padding: 1em 0px 2em;
    position: relative;
    }
    div#builder button {
        margin-left: 130px;
        }
    div#builder fieldset {
        left: 550px;
        padding: 10px;
        position: absolute;
        top: 1.5em;
        }
        div#builder fieldset div {
            padding: .25em 0px;
            }
            div#builder fieldset div label {
                cursor: pointer;
                }
    div#builder input[name=level] {
        width: 30px;
        }
    div#builder label {
        cursor: auto;
        width: 120px;
        }
    div#builder select {
        height: 24px;
        padding: 3px 0px 0px;
        width: 182px;
        }
    div#builder span#rollAgain:hover {
        left: 1px;
        top: 1px;
        }
    
div#detail {
    }
    div#detail > div {
        }
        div#detail > div > div {
            border-bottom: 1px dotted white;
            }
    div#detail input {
        width: 30px;
        }
    div#detail div#abilities {
        width: 750px;
        }
        div#detail div#abilities div.row {
            border-color: #FFFFFF;
            }
        div#detail div#abilities label {
            width: 30px;
            }
    div#detail div#vitals {
        }
        div#detail div#vitals label {
            width: 80px;
            }
    div#detail div#saves {
        }
        div#detail div#saves label {
            width: 30px;
            }
    div#detail div#skills {
        clear: both;
        display: none;
        padding: 1.5em 0 0;
        }
        div#detail div#skills div {
            border: 0px;
            float: left;
            text-align: center;
            }
        div#detail div#skills input {
            display: block;
            margin: 0 auto;
            width: 60px;
            }
        div#detail div#skills label {
            display: block;
            float: none;
            margin: 0;
            text-align: center;
            width: 95px;
            }

input {
    padding: 4px;
    border: 1px solid #000000;
    }
input.disabled {
    background: #aea9b1;
    }

